<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminService</servlet-name>
  	<display-name>AdminService</display-name>
  	<description></description>
  	<servlet-class>com.cg.service.AdminService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAccountCreationServlet</servlet-name>
  	<display-name>AdminAccountCreationServlet</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.AdminAccountCreationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AgentAccountCreationServlet</servlet-name>
  	<display-name>AgentAccountCreationServlet</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.AgentAccountCreationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AgentReportGenerationServlet</servlet-name>
  	<display-name>AgentReportGenerationServlet</display-name>
  	<description></description>
  	<servlet-class>com.cg.controller.AgentReportGenerationServlet</servlet-class>
  </servlet>
 <!--   <servlet-mapping>
  	<servlet-name>AdminService</servlet-name>
  	<url-pattern>/AdminService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAccountCreationServlet</servlet-name>
  	<url-pattern>/AdminAccountCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentAccountCreationServlet</servlet-name>
  	<url-pattern>/AgentAccountCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgentReportGenerationServlet</servlet-name>
  	<url-pattern>/AgentReportGenerationServlet</url-pattern>
  </servlet-mapping>-->
</web-app>
